/**********************
       CONSTANTS
***********************/

@lightRed:   #fdd;
@lightGreen: #dfd;
@lightBlue:  #ddf;
@defaultShapesWidth:200px;
@defaultRadius:30px;

/*********************************
   OPERATIONS & COLOR FUNCTIONS
**********************************/

@darkBlue: @lightBlue - #555;

@defaultThemeColor:@lightBlue;
//@defaultThemeColor:spin(@lightBlue, 100);

@borderSize:@defaultShapesWidth * 0.1;
@borderColor:@defaultThemeColor - #222;
//@borderColor:darken(desaturate(@defaultThemeColor, 100%), 20%);


